.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 1.3em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.5em;
}

a {
  background-color: transparent;
  color: #9c6969;
  text-decoration: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Poppins, sans-serif;
}

.body.home {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  max-width: 1400px;
  margin: 0px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  position: relative;
  color: #333;
}

.right-links {
  margin-left: 26px;
  padding: 0px;
}

.image {
  height: 3em;
}

.h2 {
  font-size: 24px;
  font-weight: 500;
}

.main-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.upper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.project-title {
  color: #333;
  line-height: 1.2em;
}

.welcome {
  display: block;
  margin-top: 0px;
  margin-bottom: 58px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.headshot {
  max-height: 275px;
  border-radius: 100%;
  text-align: right;
}

.three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.projectthumbnail {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.25);
}

.title {
  position: static;
  display: inline-block;
  margin-right: 0px;
  font-size: 46px;
  line-height: 1.1em;
  font-weight: 500;
}

.title.wavetext {
  margin-right: 19px;
}

.title.asterisk {
  display: block;
  margin-top: 17px;
  font-size: 20px;
  font-weight: 400;
}

.header {
  height: auto;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
  background-image: url('../images/clean-gray-paper.png');
  background-position: 0% 0%;
  background-size: auto;
}

.project {
  width: 100%;
  max-height: 300px;
  margin-top: 16px;
  margin-right: 0px;
  margin-left: 0px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rl-picture {
  background-image: url('../images/RL-Selfie.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-block-2 {
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 500;
}

.prinexpl {
  padding-left: 33px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 1.3em;
}

.principle {
  margin-bottom: 43px;
  padding-right: 130px;
  padding-left: 130px;
  font-size: 37px;
}

.principles {
  margin-top: 45px;
  padding-top: 0px;
}

.text-block-4 {
  line-height: 1.3em;
}

.printitle {
  margin-bottom: 15px;
  font-family: Caveat, sans-serif;
  font-size: 38px;
  font-weight: 500;
}

.intro {
  display: -ms-grid;
  display: grid;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". Area"
    ". Area";
  -ms-grid-columns: 1fr 16px minmax(225px, 420px);
  grid-template-columns: 1fr minmax(225px, 420px);
  -ms-grid-rows: minmax(auto, 1fr) 16px minmax(auto, 1fr);
  grid-template-rows: minmax(auto, 1fr) minmax(auto, 1fr);
}

.section {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #fff;
  background-image: url('../images/clean-gray-paper.png');
  background-position: 0px 0px;
  background-size: auto;
}

.text-block-5 {
  margin-bottom: 0px;
  font-family: Caveat, sans-serif;
  color: #405f44;
  font-size: 52px;
  font-weight: 600;
  text-align: center;
}

.text-block-8 {
  text-align: center;
}

.slider {
  background-color: #fff;
}

.slidercaption {
  position: relative;
  top: 307px;
  padding-right: 140px;
  padding-left: 140px;
  font-size: 16px;
  text-align: center;
}

.body-2 {
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
}

.left-arrow {
  background-color: #e0e0e0;
}

.slide-2 {
  background-image: url('../images/image11.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.h1 {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.2em;
  font-weight: 600;
}

.h1.darkmode {
  color: #dbdbdb;
}

.projectsection.final-design {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #dce2de;
}

.projectsection.fd-discussion {
  background-color: #eff3f0;
}

.projectsection.goals {
  background-color: #dee5ff;
}

.projectsection.final-design-cc {
  background-color: #f7efe7;
}

.projectcontainer {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: transparent;
}

.slide {
  overflow: visible;
  background-image: url('../images/image10.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.projectdiv {
  padding-top: 0px;
  padding-bottom: 20px;
}

.right-arrow {
  background-color: #e0e0e0;
}

.mask {
  overflow: visible;
}

.div-block-6 {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  padding-right: 100px;
  padding-left: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-span {
  color: #9c6969;
}

.slide-3 {
  background-image: url('../images/image17.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.h2-2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}

.div-block-5 {
  margin-bottom: 0px;
}

.div-block-7 {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 100px;
  padding-left: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-8 {
  padding-top: 20px;
}

.div-block-9 {
  padding-top: 140px;
}

.projectdetails {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.detail {
  width: 50%;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-2 {
  max-height: 500px;
  max-width: 80%;
}

.body-3 {
  background-color: #f1f1f1;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  max-width: 500px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-4 {
  max-width: 100%;
  padding-top: 34px;
  padding-bottom: 34px;
}

.div-block-13 {
  display: -ms-grid;
  display: grid;
  padding-top: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 39px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.phaseimg {
  max-height: 150px;
}

.reflection {
  background-color: #1f1f1f;
}

.div-block-14 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-block-15 {
  padding-top: 220px;
  padding-bottom: 220px;
}

.darkmode {
  color: #dbdbdb;
  line-height: 1.5em;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . Area";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: minmax(auto, 200px) 16px auto;
  grid-template-rows: minmax(auto, 200px) auto;
}

.ccintropic {
  max-height: 200px;
}

.text-block-9 {
  font-style: italic;
  text-align: center;
}

.caption {
  color: #818181;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.probesdiv {
  padding-right: 20px;
  padding-left: 20px;
}

.text-span-2 {
  font-size: 15px;
}

.div-block-17 {
  display: -ms-grid;
  display: grid;
  padding-bottom: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.moodboard-pic {
  padding-right: 4px;
  padding-left: 4px;
}

.div-block-18 {
  display: -ms-grid;
  display: grid;
  padding-bottom: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.italic-text {
  font-size: 15px;
}

.div-block-19 {
  display: -ms-grid;
  display: grid;
  padding-bottom: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-20 {
  display: -ms-grid;
  display: grid;
  padding-top: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 2px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid {
  -ms-grid-columns: minmax(50px, 75px) 1fr minmax(50px, 75px) 1fr;
  grid-template-columns: minmax(50px, 75px) 1fr minmax(50px, 75px) 1fr;
}

.bignum {
  position: static;
  font-family: Caveat, sans-serif;
  color: #255e7b;
  font-size: 99px;
}

.exhibitgoals {
  padding-top: 30px;
  grid-column-gap: 24px;
  -ms-grid-columns: minmax(30px, 50px) 1fr minmax(30px, 50px) 1fr;
  grid-template-columns: minmax(30px, 50px) 1fr minmax(30px, 50px) 1fr;
}

.text-block-10 {
  padding-top: 40px;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-block-21 {
  text-align: center;
}

.image-6 {
  max-height: 450px;
}

.subway {
  padding-bottom: 80px;
}

.grid-3 {
  padding-top: 30px;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.body-4 {
  background-color: #f1f1f1;
  color: #333;
}

.welcome-grid {
  display: -ms-grid;
  display: grid;
  padding-bottom: 120px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr minmax(auto, 300px);
  grid-template-columns: 1fr minmax(auto, 300px);
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.asterisk {
  font-size: 16px;
}

.grid-4 {
  padding-top: 30px;
}

.contact-section {
  background-color: #5b755d;
  background-image: url('../images/cartographer.png');
  background-position: 0px 0px;
  background-size: auto;
}

.container-4 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.text-span-3 {
  color: #769fff;
}

.div-block-23 {
  color: #fdfdfd;
}

@media screen and (max-width: 991px) {
  .link {
    margin-left: 20px;
  }

  .welcome {
    margin-top: 0px;
    padding-top: 0px;
  }

  .projectthumbnail {
    height: 160px;
  }

  .header {
    height: auto;
    min-height: 100vh;
  }

  .container-3 {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 26px;
  }

  .body {
    font-size: 16px;
  }

  .image {
    height: 2em;
  }

  .projectthumbnail {
    height: auto;
  }

  .title {
    font-size: 36px;
  }

  .title.wavetext {
    margin-right: 3px;
    margin-left: 0px;
    font-size: 36px;
  }

  .title.asterisk {
    font-size: 16px;
  }

  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .text-block-2 {
    font-size: 24px;
  }

  .principle {
    padding-right: 60px;
    padding-left: 60px;
  }

  .intro {
    margin-bottom: -1px;
    padding-right: 20px;
    padding-left: 20px;
    grid-template-areas: ". Area";
    -ms-grid-columns: 0.7fr;
    grid-template-columns: 0.7fr;
    -ms-grid-rows: minmax(250px, 1fr) minmax(auto, 1fr);
    grid-template-rows: minmax(250px, 1fr) minmax(auto, 1fr);
  }

  .body-2 {
    font-size: 14px;
    line-height: 1.3em;
  }

  .h1 {
    font-size: 24px;
  }

  .projectsection.final-design {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .projectcontainer {
    padding: 30px;
  }

  .div-block-7 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .detail {
    font-size: 16px;
  }

  .div-block-10 {
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
  }

  .div-block-11 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-13 {
    font-size: 14px;
  }

  .reflection {
    padding-right: 40px;
    padding-left: 40px;
  }

  .div-block-15 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .darkmode {
    font-size: 14px;
  }

  .div-block-20 {
    grid-row-gap: 21px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .exhibitgoals {
    grid-template-areas: "Area Area-2"
      "Area Area-3"
      "Area-4 Area-5"
      "Area-4 Area-6";
    -ms-grid-columns: minmax(30px, 50px) 1fr;
    grid-template-columns: minmax(30px, 50px) 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .body-4 {
    font-size: 14px;
  }

  .div-block-22 {
    text-align: center;
  }

  .welcome-grid {
    padding-bottom: 60px;
    -ms-grid-columns: 1fr minmax(auto, 40%);
    grid-template-columns: 1fr minmax(auto, 40%);
  }

  .tablecaption {
    font-size: 13px;
    line-height: 1.3em;
  }

  .list-item {
    font-size: 14px;
  }

  .text-block-11 {
    padding-bottom: 40px;
  }

  .grid-4 {
    padding-top: 30px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div-block {
    padding-right: 0px;
    padding-left: 0px;
  }

  .h2 {
    font-size: 20px;
    line-height: 1.2em;
  }

  .headshot {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4px;
    text-align: center;
  }

  .three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 0px;
  }

  .header {
    background-image: url('../images/clean-gray-paper.png');
    background-position: 0px 0px;
    background-size: auto;
  }

  .project {
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .div-block-2 {
    margin-bottom: 5px;
  }

  .prinexpl {
    padding-right: 24px;
    padding-left: 24px;
    font-size: 16px;
  }

  .principle {
    padding-right: 19px;
    padding-left: 19px;
  }

  .printitle {
    font-size: 24px;
  }

  .intro {
    -ms-grid-rows: minmax(250px, 1fr) minmax(auto, auto) auto;
    grid-template-rows: minmax(250px, 1fr) minmax(auto, auto) auto;
  }

  .text-block-5 {
    font-size: 32px;
  }

  .philosophy {
    padding-top: 40px;
  }

  .h1.darkmode {
    font-size: 24px;
  }

  .div-block-6 {
    padding-left: 0px;
  }

  .image-3 {
    max-width: 80%;
  }

  .div-block-13 {
    padding-top: 0px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    line-height: 1.5em;
  }

  .div-block-16 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .ccintropic {
    width: 33%;
    max-height: 150px;
  }

  .caption {
    font-size: 12px;
  }

  .probesdiv {
    font-size: 14px;
  }

  .div-block-17 {
    grid-column-gap: 4px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 4px 1fr 4px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-block-18 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .div-block-19 {
    grid-column-gap: 0px;
  }

  .div-block-20 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .exhibitgoals {
    grid-row-gap: 9px;
    grid-template-areas: "Area Area-2"
      "Area Area-3"
      "Area-4 Area-5"
      "Area-4 Area-6";
  }

  .grid-3 {
    grid-row-gap: 15px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .div-block-22 {
    padding-bottom: 15px;
    text-align: center;
  }

  .welcome-grid {
    grid-row-gap: 5px;
    grid-template-areas: "Area Area"
      "Area-2 Area-2"
      "Area-3 Area-3";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 5px auto 5px auto;
    grid-template-rows: auto auto auto;
  }

  .asterisk {
    padding-top: 10px;
    font-size: 12px;
  }

  .list-item {
    line-height: 1.3em;
  }

  .phasetext {
    padding-top: 49px;
  }

  .italic-text-2 {
    font-size: 12px;
  }

  .text-block-11 {
    padding-bottom: 0px;
  }

  .grid-4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-_5fa16a9b-f9c3-ba95-c8b9-58717adcba03-61a9cd01 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5fa16a9b-f9c3-ba95-c8b9-58717adcba04-61a9cd01 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_78fc9498-d894-6c19-d48e-f8a55778eadc-61a9cd01 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_78fc9498-d894-6c19-d48e-f8a55778eada-61a9cd01 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_78fc9498-d894-6c19-d48e-f8a55778eadd-61a9cd01 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_381393c8-8d8b-5e5b-0658-eea85c81d43a-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_381393c8-8d8b-5e5b-0658-eea85c81d43b-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_381393c8-8d8b-5e5b-0658-eea85c81d43c-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_381393c8-8d8b-5e5b-0658-eea85c81d43e-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-abf0ad67-f643-d027-d9b5-a5ab5d7a810c-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-abf0ad67-f643-d027-d9b5-a5ab5d7a810d-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-abf0ad67-f643-d027-d9b5-a5ab5d7a810e-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-abf0ad67-f643-d027-d9b5-a5ab5d7a810f-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-abf0ad67-f643-d027-d9b5-a5ab5d7a8111-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-abf0ad67-f643-d027-d9b5-a5ab5d7a8113-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2b2d2fcb-66da-e794-476e-bc273b84a432-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6bdff38f-f6b7-e589-cd1c-dc5471dccf76-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_548a9838-f4d4-a724-8e3a-8a346ed4390c-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_066cdf54-852e-c9a7-8b63-aeb2b90ad734-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5f354a52-08d6-1e7a-a344-aff7626fc9b3-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4d81f2b1-738c-ac99-a71c-dd276e9cd307-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eb369257-8839-f5f0-2aa7-67b101d5bdc0-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_48cc3610-faa8-e051-c985-8c4860833582-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ce69e966-8fd0-b60e-2245-c695329dd4ad-be3158f5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9a691966-d756-6b79-66c7-4dec62ecf2c0-f127137e {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a21ffa9b-7026-2f54-59bd-1307a8fa9c39-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_94030c91-812e-601a-4738-ef41244852f8-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_914263d2-3ad8-d2a2-942d-df1ecf142826-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_759a3107-8119-6a56-56b9-57b4ab88e111-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7928e68d-c2d2-3807-f018-212d039d1d7f-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_629cac01-38cb-5a08-feb9-fb912745507b-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_38cbb1d2-237b-3c7f-0da2-1355ccf18548-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5ed59498-fc19-0e32-8a70-0f35ac011bb1-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_68a0298e-bd39-7dc6-91f5-8ff73630c9e6-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a544634c-aa01-baac-fe7c-1601f452947d-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a995af93-b883-f54f-60a2-2e203d2cd7fa-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e50906fd-2aaf-314b-b978-bfc66c317b9d-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c09ca8b8-bb80-6fcc-8846-295b5a4888c0-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cb9f8430-c19a-f3b3-4657-69d16fc7fb2c-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_27d88424-d085-1b35-24f2-ac0fed3c43f9-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fc69a8ef-2adb-309a-9a86-97796dad52ca-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65b2d8c0-23f0-644e-5c5c-d17c46bf963e-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1b0b9922-38f2-c1b6-3130-0117f4fae91f-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2b2a121f-60bf-57c4-9307-2e6db3131641-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_73765158-9ea8-aa61-02c5-17b25f309bb9-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_834b251b-e5b1-2768-2e95-9e44c27f7d8e-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_12eab020-0c76-d3b3-c3a8-5a006ef66824-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_37604721-f123-a432-6276-8a6cb4c1cf89-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_424e4b00-5264-88a5-45fa-9e787ce2cb50-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_263fc35f-a28c-d4c9-6f35-a326e2d4dbdc-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_56eb05f2-2a22-094e-6c3a-1761b9d43c3d-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6d001841-6415-01fe-d41a-1ecbc0b84452-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3f1932f9-e16e-971c-2bd7-e6ce53bd9399-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-ae24f62b-783a-206e-f3c7-f4d94d530062-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea4f52cb-3765-10a5-5726-2edce31ed8c0-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-b32ce391-497a-1d98-e729-99ad9019dcad-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cbe2f36d-2b4e-f075-ee14-383e633888a0-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d2aeb117-8dcd-7981-2528-e6a7dac29486-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a53aba55-b8d7-4931-2f45-1311a3d19454-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-_8b1b12d9-b294-86a1-4f26-c8c6b3b52ce3-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-f8266f4c-4f19-3ea8-0d7c-41c83cac3f01-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-e0d416aa-e3f2-1b20-09ab-a46f2fbe5218-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_49275e5e-d179-e874-e53f-673404d88a10-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_47612774-7157-28f7-ec21-37169fea6928-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c79e4d33-a33e-bb04-c9ae-91e4429c772b-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d83d3e94-69db-fc64-de63-0704be30aaaf-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d83d3e94-69db-fc64-de63-0704be30aab5-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_39fe1da0-af04-ef2a-d937-4ea5da5bdb49-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d83d3e94-69db-fc64-de63-0704be30aab2-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d83d3e94-69db-fc64-de63-0704be30aab7-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1fb1f74e-29c8-e87e-515a-ed179994d9f8-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1fb1f74e-29c8-e87e-515a-ed179994d9f9-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1fb1f74e-29c8-e87e-515a-ed179994d9fc-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bfed0641-a4d2-b795-8529-bcf2fef2fb58-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1385454e-f4ab-f37e-370f-331d39f16719-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_32e2ae43-018f-6e68-6fbc-9cffd41a415a-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-aa5e58af-5668-4a5c-191d-37bac6978af1-f127137e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_78fc9498-d894-6c19-d48e-f8a55778eadc-61a9cd01 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-cbe2f36d-2b4e-f075-ee14-383e633888a0-f127137e {
    grid-area: Area-3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_5fa16a9b-f9c3-ba95-c8b9-58717adcb9f9-61a9cd01 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_5fa16a9b-f9c3-ba95-c8b9-58717adcba03-61a9cd01 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    grid-area: Area;
  }

  .div-block-16>#w-node-_5fa16a9b-f9c3-ba95-c8b9-58717adcba03-61a9cd01 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
  }

  @media screen and (max-width: 767px) {
    #w-node-cbe2f36d-2b4e-f075-ee14-383e633888a0-f127137e {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
    }

    #w-node-_5fa16a9b-f9c3-ba95-c8b9-58717adcba03-61a9cd01 {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
    }

    .exhibitgoals>#w-node-_5fa16a9b-f9c3-ba95-c8b9-58717adcba03-61a9cd01 {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
    }
  }

  @media screen and (max-width: 479px) {
    .exhibitgoals>#w-node-cbe2f36d-2b4e-f075-ee14-383e633888a0-f127137e {
      -ms-grid-row: 3;
      -ms-grid-column: 2;
    }

    .welcome-grid>#w-node-cbe2f36d-2b4e-f075-ee14-383e633888a0-f127137e {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    .exhibitgoals>#w-node-_5fa16a9b-f9c3-ba95-c8b9-58717adcba03-61a9cd01 {
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      -ms-grid-column: 1;
    }

    .welcome-grid>#w-node-_5fa16a9b-f9c3-ba95-c8b9-58717adcba03-61a9cd01 {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }
  }

  #w-node-_78fc9498-d894-6c19-d48e-f8a55778eada-61a9cd01 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_78fc9498-d894-6c19-d48e-f8a55778eadd-61a9cd01 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_2dc35501-9388-e1a1-4a6c-d762e3d46d9d-f127137e {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-e887e0f0-e805-0508-6490-d76d76d47877-f127137e {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

